<!DOCTYPE html>
<html lang="en">
<head>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <style>
        form { 
            margin: 0 auto; 
            width:250px;
            margin-top: 20px;
        }
    </style>
    <title>
        Data Display
    </title>
</head>

<body>
    <form method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="text" class="form-control" name="email" aria-describedby="emailHelp" placeholder="john@gmail.com">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Age</label>
          <input type="text" class="form-control" name="age" placeholder="e.g. 25">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">First Name</label>
            <input type="text" class="form-control" name="fname" placeholder="John">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Last Name</label>
            <input type="text" class="form-control" name="lname" placeholder="Fish">
          </div>
          <label class="form-label" for="customFile">Profile Picture</label>
          <input type="file" name="image" />
        <div style="margin-top: 20px;">
            <button type="submit" class="btn btn-success">Submit</button>
            <input class="btn btn-info" type="reset" value="Reset">
            <a href="/display" class="btn btn-secondary">Display</a>
        </div>
    </form>
</body>
</html>
